.conteiner {
    height: 80px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navIcon h4 {
    font-size: 25px;
    color: white;
    font-weight: 700;
}
.navMenu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}
.navMenu a:hover{
color: tomato;
}
@media  ( max-width: 935px ) {
    .navMenu {
display: none;
    }
}